<%- include('./base/header.ejs')%>
<div class="container">
    <div style="color: whitesmoke;background-color: goldenrod; text-align: center;">
        <h4>Join Mehfil-e-Zaiqa</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/login/enter" method="post" >
                <div>
                    <label for="form-label">Mobile Number</label>
                    <input type="text" name="mobileNo" id="" class="form-control">
                </div>
                <div>
                    <label for="form-label">Password</label>
                    <input type="text" name="password" id="" class="form-control">
                </div>
                <input type="submit" name="" id="" value="Login" class="btn btn-warning w-100 my-3" >
                <div style="text-align: center;">
                    <a href="/signin">Don't have account</a>
                <div>
                    <a href="/reset/password">Forget Password</a>
                </div>
                </div>
                
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>


<%- include('./base/footer.ejs')%>
