<%- include('./base/header.ejs')%>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>

<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;">
    <h1>You have been registered .....</h1>
    <a href="/login"><h3>Login Here</h3></a>
</div>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>
<div class="container-fluid" style="color: white;background-color: goldenrod; height: 5rem;text-align: center;"></div>
    
</div>

<div style="padding: 0.25rem;"></div>

<%- include('./base/footer.ejs')%>