<%- include('./base/header.ejs')%>
    <div class="container">
        <div style="color: whitesmoke;background-color: goldenrod; text-align: center;">
            <h4>Join Mehfil-e-Zaiqa</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/add/user" method="post" >
                    <div>
                        <label for="form-label">First Name</label>
                        <input type="text" name="fname" id="" class="form-control">
                    </div>
                    <div>
                        <label for="form-label">Last Name</label>
                        <input type="text" name="lname" id="" class="form-control">
                    </div>
                    <div>
                        <label for="form-label">Country <Code></Code></label>
                        <input type="text" name="countyCode" id="" class="form-control">
                    </div>
                    <div>
                        <label for="form-label">Mobile No</label>
                        <input type="text" name="mobileNo" id="" class="form-control">
                    </div>
                    <div>
                        <label for="form-label">Password</label>
                        <input type="text" name="password" id="" class="form-control">
                    </div>
                    <div>
                        <label for="form-label">Confirm Password</label>
                        <input type="text" name="confirmPassword" id="" class="form-control">
                    </div>
                    <input type="submit" name="" id="" value="Register" class="btn btn-warning w-100 my-3" >
                    <div style="text-align: center;">
                        <a href="/login">Already have an account</a>
                    </div>
    
                </form>
                
            </div>
            <div class="col"></div>
        </div>
    </div>
<%- include('./base/footer.ejs')%>